# API Configuration
API_BASE_URL="https://api.operation-point.jpromi.com" # Changed URL

# App Information
INFO_APP_NAME="Fire Where" # Changed app name
INFO_DEVELOPER_NAME="MM" # Changed name
INFO_DEVELOPER_WEBSITE="https://example.com" # Changed website

INFO_APP_WEB_URL="https://app.fire-where.at"
INFO_APP_NAME="Fire Where"
INFO_APP_FEEDBACK_EMAIL="feedback@example.com" # Changed email
INFO_APP_REPO_NAME="JPromi/fire-where" # Changed repo name
INFO_APP_REPO_URL="https://github.com/JPromi/fire-where" # Changed repo URL
INFO_APP_IMPRINT_URL="https://example.com/impressum" # Changed imprint URL
INFO_APP_PRIVACY_URL="https://example.com/privacy" # Changed privacy URL
